.header {
  height: 60px;
}

.header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
}

.header .nav-list .item + .item {
  padding-left: 20px;
}

.header .nav-list a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

body {
  background-image: url(../image/img1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.top {
  width: 100%;
  top: 0;
}

.top .top-title {
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  text-align: center;
  position: absolute;
  font-size: 90px;
  color: white;
  font-family: serif;
  opacity: .8;
}

.sub-item {
  position: absolute;
  position: relative;
  top: 0;
  display: none;
  z-index: 2;
  background-color: white;
  width: 100%;
  height: calc(100vh - 60px);
}

.sub-item .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  text-align: center;
}
