body{
  background-image: url(../image/img1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.top{
  width: 100%;
  top: 0;

  .top-title{
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    position: absolute;
    font-size: 90px;
    color: white;
    font-family: serif;
    opacity: .8;
  }
}

.sub-item{
  position: absolute;
  position: relative;
  top: 0;
  opacity: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  height: calc(100vh - 60px);

  .desc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
  }
}